<%- include("./templates/header") %> 
    <div class="container">
        <button class="btn bg-transparent border-0 mb-3 text-primary" onclick="history.go(-2)">< back</button>
        <div class="container m-auto">
            <div class="row text-danger h2"><%=code%></div>
            <div class="row"><%=message%></div>
        </div>
    </div>
<%- include("./templates/footer") %> 
